* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

/* header  */

.main {
    display: flex;
    justify-content: center;
    height: 80px;
    position: relative;
    box-shadow: 0px 0px 10px #3642534e;
}

.border {
    height: 10px;
    width: 100%;
    background-color: #364253;
    position: absolute;
}

.heading {
    font-size: 27px;
    font-weight: 200;
    margin-top: 10px;
    color: #364253;
}

.icon {
    right: 0;
    position: absolute;
    top: 0;
    height: auto;
    display: flex;
    right: 200px;
}

.icon i {
    margin-top: 15px;
    font-size: 20px;
    color: #364253;
    cursor: pointer;
}

.cart-1 {
    font-size: 25px !important;
}

.cart-1:after {
    content: attr(data-count);
    position: absolute;
    background: #ff6600;
    height: 18px;
    top: 3px;
    right: -7px;
    width: 18px;
    text-align: center;
    line-height: 16px;
    font-size: 10px;
    border-radius: 50%;
    color: white;
    border: 1px solid #ff6600;
    font-family: sans-serif;
    font-weight: bold;
}


.Header_list ul {
    list-style: none;
    display: flex;
    justify-content: center;
    font-size: 20px;
    gap: 50px;
    padding: 10px;
    background-color: rgb(248, 240, 240);
}

.Header_list li:hover{
    text-decoration: overline  orange;

}
.Header_list a{
    color:black;
    text-decoration: none;
}

.nav {
    right: 0;
    position: absolute;
    top: 0;
    height: auto;
    display: flex;
    right: 20px;
    font-size: 27px;
    cursor: pointer;
    display: none;
    color: #EB984E;
}

a{
    text-decoration: none;
    color: white;
}

@media only screen and (max-width: 992px) {
    .icon {
        left: 0;
        background-color: #F7F8FA;
        width: 100%;
        padding-bottom: 10px;
        padding-left: 20px;
    }

    .main {
        height: 120px;
        justify-content: start;
    }

    .heading {
        margin-left: 20px;
        margin-top: 63px;
    }

    .nav {
        display: block;
        margin-top: 67px;
    }

    .cart-1:after {
        left: 88px;
    }
}

/* cart section  */

.cart {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 80px;
}

.product {
    display: flex;
    gap: 20px;
}

.product-name {
    justify-content: center;
    flex-direction: column;
    display: flex;
    gap: 8px;
}

.cart table {
    width: 100%;
}

.cart th,
.cart td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    color: #364253 !important;
}

th {
    color: #364253;
    font-weight: 400;
}

td {
    padding: 40px 0px !important;
}

table span {
    color: #364253 !important;
}

.cart img {
    width: 115px;
    height: 77px;
}

.qult {
    font-size: 22px;
}

.qult-btn {
    font-size: 18px;
}

.cart button {
    padding: 5px 10px;
    border: 1px solid #ccc;
    background: #fff;
    cursor: pointer;
}

.cart button:hover {
    background: #f2f2f2;
}

.cart .quantity {
    display: flex;
    align-items: center;
}

.cart .quantity input {
    width: 40px;
    text-align: center;
    margin: 0 5px;
}

.cart .remove {
    color: red;
    cursor: pointer;
}

.cart .actions {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.cart .actions button {
    padding: 10px 35px;
    border: 1px solid #EB984E;
    background-color: #EB984E;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.4s ease-in-out;
}

.btn-main {
    color: #EB984E !important;
    background-color: white !important;
    border: 1px solid #EB984E !important;
}

.btn-main:hover {
    color: white !important;
    background-color: #EB984E !important;
}

.cart .actions button:hover {
    background-color: #e98732;
}

@media (max-width: 768px) {

    .cart tr {
        display: block;
        text-align: center;
    }

    .cart {
        margin-top: 30px;
    }

    .cart th {
        background-color: transparent;
        padding-top: 10px;
    }

    .cart td {
        text-align: center;
        width: 100% !important;
        padding-bottom: 10px;
        justify-content: space-evenly;
    }

    .cart td:before {
        content: attr(data-label);
        font-weight: bold;
        display: block;
    }

    thead {
        display: none;
    }

    .product {
        display: block;
    }

    .product-name span {
        margin-top: 10px;
    }

    .del-btn {
        margin-left: 30px !important;
    }

    .cart .actions {
        display: block;
    }

    .cart .actions button {
        width: 100%;
        margin-top: 10px;
    }
}

/* footer section  */

footer {
    background: #364253;
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding: 30px 0px;
    margin-top: 30px;
    height: auto;
    margin-bottom: 50px;
}

.f-main {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

.footer-part1 .img img {
    height: 30px;
    width: 48px;
}

.img {
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
}

.footer-part3 li {
    cursor: pointer;
}

.footer-icon {
    display: flex;
    gap: 20px;
}

.footer-icon i {
    font-size: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.51);
}

.footer-part1,
.footer-part2,
.footer-part3,
.footer-part4 {
    line-height: 2rem;
}

footer h3 {
    margin-bottom: 20px;
}


.footer-part4 input {
    padding: 10px 100px 10px 10px;
    background: transparent;
    border: 1px solid white;
    color: white;
}

.footer-part4 button {
    padding: 10px 50px;
    margin-top: 15px;
    color: #e98732;
    cursor: pointer;
    border: 1px solid white;
    transition: all 0.5s ease-in-out;
}

.footer-part4 button:hover {
    background: #e98732;
    color: white;
}

@media screen and (max-width: 992px) {
    footer {
        display: block;
    }

    .f-main {
        width: 100%;
        justify-content: space-between;
        padding: 30px;
    }
}

@media screen and (max-width: 768px) {
    .f-main {
        display: block;
    }

    .footer-part2,
    .footer-part4 {
        margin-top: 50px;
    }
}

@media screen and (max-width: 320px) {
    .footer-part4 input {
        padding: 10px 20px 10px 10px;
    }
}

.foot{
    background-color: #EB984E;
    text-align: center;
    color: white;
    padding: 18px 0px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.foot button{
    color: #e98732;
    border: none;
    padding: 3px 10px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.foot button:hover{
    background-color: rgba(255, 255, 255, 0.807);
}